[loggers]
keys=root,prodLogger,defaultLogger

[handlers]
keys=consoleHandler,errorEmailHandler,warningEmailHandler

[formatters]
keys=customFormatter

[logger_root]
level=NOTSET
handlers=consoleHandler

[logger_defaultLogger]
level=DEBUG
handlers=consoleHandler
qualname=DefaultLogger
propagate=0

[logger_prodLogger]
level=DEBUG
handlers=consoleHandler,errorEmailHandler,warningEmailHandler
qualname=ProdLogger
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=customFormatter
args=(sys.stdout,)

[handler_errorEmailHandler]
class=handlers.SMTPHandler
level=ERROR
formatter=customFormatter
args=('mailserver','from@your.org', ['to.you.org'], 'Error Publishing Open Dataset')

[handler_warningEmailHandler]
class=handlers.SMTPHandler
level=WARN
formatter=customFormatter
args=('mailserver','from@your.org', ['to.you.org'], 'Problem Publishing Open Dataset')

[formatter_customFormatter]
format=%(asctime)s: %(name)s - %(levelname)-7s - %(message)s
datefmt=%Y-%m-%d %H:%M